body {
  padding-top:100px;

}
#header {
  text-align: left;
  height: 30;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.row h1 {
  text-align: center;
  height: 30;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
img {
  src: ("./js/newsicon.png");
  width: 60;
  height: 60;
  align-items: center
}

google-login {
  height: 5px;
}
#sourceBar {
  width: 256px;
  height: 1900px;
  background-color: #ff8f88;
  font-weight: bold;
  padding-top: 20px
}

.sources {
  text-align: left;
  text-transform: uppercase;
  font-size: 20;
  padding-left: 300
  
}
#articleDisplay {
  min-height: 300px
}
#search {
  padding-left: 1150px;

}
img {
  src: ("/Users/mercymuchai/Desktop/CHECKPOINT 1/cp1/src/css/img/googleplus.png");
}