body {
  padding-top:30px;
}
.header {
  text-align: left;
  height: 30;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0;
  color: #e05a51;
  font-family: -webkit-body;
  font-size: -webkit-xxx-large;
}
.row h1 {
  text-align: center;
  height: 30;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.sources {
  width: 290px;
  height: 1900px;
  background-color: #ff8f88;
  font-weight: bold;
  padding-top: 20px;
  text-transform: uppercase;
  padding-top: 20px;
  margin-top: 5px;
}

.btn{
  margin-top: 7px;
  margin-right: 3px;
}

